<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<gui name="konquest" version="1">

<MenuBar>
  <Menu name="game"><text>&amp;Game</text>
  <Action name="game_measure"/>
  <Action name="game_scores"/>
  <Action name="game_fleets"/>
  </Menu>
</MenuBar>

<ToolBar name="mainToolBar"><text>Main Toolbar</text>
  <Action name="game_new"/>
  <Action name="game_end"/>
  <Separator/>
  <Action name="game_measure"/>
  <Action name="game_scores"/>
  <Action name="game_fleets"/>
</ToolBar>

</gui>
