[Desktop Entry]
Icon=konquest
Name=Konquest
Exec=konquest %i %m -caption %c
Type=Application
Comment=Strategy Game
Terminal=0
DocPath=konquest/index.html
X-KDE-StartupNotify=true
X-DCOP-ServiceType=Multi
