[Desktop Entry]
Encoding=UTF-8
Icon=konquest
Name=Konquest
Name[ar]=حرب المجرات
Name[bg]=Завоевание
Name[br]=KAloubadur
Name[da]=Erobring
Name[eo]=Konkero
Name[et]=Vallutus
Name[hu]=Hódítás
Name[is]=Geimstyrjöld
Name[ko]=콘퀘스트
Name[lt]=Užkariautojas
Name[lv]=Konkvests
Name[mi]=KWhakahinga
Name[mk]=Освојување
Name[pt]=Conquista
Name[pt_BR]=Conquista
Name[ru]=Завоевание
Name[sv]=Erövring
Name[ta]=¸¡ý¸¢Åð
Name[ven]=Konquest kana gundo
Name[xh]=iKonquest
Name[xx]=xx
Name[zh_TW]=Konquest 征服
Name[zu]=I-Konquest
Exec=konquest %i %m -caption %c
Type=Application
GenericName=Strategy Game
GenericName[af]=Strategie Speletjie
GenericName[ar]=لعبة اسراتيجية
GenericName[be]=Стратэгічная гульня
GenericName[bg]=Стратегическа Игра
GenericName[bs]=Strateška igra
GenericName[cs]=Strategická hra
GenericName[da]=Strategispil
GenericName[de]=Strategiespiel
GenericName[el]=Παιχνίδι Στρατηγικής
GenericName[eo]=Strategiludo
GenericName[es]=Juego de estrategia
GenericName[et]=Strateegia mäng
GenericName[fi]=Strategiapeli
GenericName[fr]=Jeu de stratégie
GenericName[he]=משחק אסטרטגיה
GenericName[hu]=stratégiai
GenericName[is]=Herkænskuleikur
GenericName[it]=Gioco di strategia
GenericName[ja]=戦略ゲーム
GenericName[lt]=Strateginis žaidimas
GenericName[lv]=Stratēģiskā Game
GenericName[mt]=Logħba ta' strateġija
GenericName[nb]=Strategispill
GenericName[nl]=strategisch spel
GenericName[nn]=Strategispel
GenericName[pl]=Gra strategiczna
GenericName[pt]=Jogo de Estratégia
GenericName[pt_BR]=Estratégia
GenericName[ro]=Joc de strategie
GenericName[ru]=Стратегия
GenericName[sk]=Strategická hra
GenericName[sl]=Strateška igra
GenericName[sv]=Strategispel
GenericName[th]=เกมกลยุทธ์
GenericName[tr]=Strateji Oyunu
GenericName[uk]=Гра на стратегію
GenericName[ven]=Mutambo wa maitele awo
GenericName[vi]=Trò chơi Chiến thuật
GenericName[xx]=xx
GenericName[zh_CN]=策略游戏
GenericName[zh_TW]=策略遊戲
GenericName[zu]=Umdlalo Wendlela Yokuphumelela
Terminal=0
DocPath=konquest/index.html
X-KDE-StartupNotify=true
X-DCOP-ServiceType=Multi
